:host.event-list {
  display: flex;
  flex-direction: column;

  .event-list {
    &__table {
      width: 100%;
      ::ng-deep td {
        &.mat-column-name,
        &.mat-column-startDate,
        &.mat-column-endDate {
          width: 12rem;
        }
      }

      ::ng-deep th.mat-header-cell {
        color: var(--primary);
      }
    }
  }
}
