/* You can add global styles to this file, and also import other style files */

html,
body {
  --primary: #213a45;
  --success: green;
  --error: firebrick;

  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar {
  &__error {
    background-color: var(--error);
  }
  &__success {
    background-color: var(--success);
  }
}
